<ion-header>

  <ion-toolbar>

    <ion-title>NÚMERO SECRETO</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="gsc">

    <h1>Introduce el número</h1>

    <ion-input [(ngModel)]="value" readonly fill="outline" placeholder="Introducir número"></ion-input>

    <ion-label [(ngModel)]="message" readonly fill="outline"></ion-label>

    <app-numeric-keyboard [deleteEnabled]="true" [enterEnabled]="true" (numberPressed)="onNumberPressed($event)" (deletePressed)="onDeletePressed()" (enterPressed)="onEnterPressed()"></app-numeric-keyboard>

  </div>

</ion-content>