<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="register-content">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">

    <ion-card class="form-card">

      <ion-card-header>
        <ion-card-title>Crear cuenta</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <ion-label position="stacked">Nickname</ion-label>
          <ion-input type="text" formControlName="nickname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Plan</ion-label>
          <ion-select formControlName="plan" placeholder="Selecciona un plan">
            <ion-select-option *ngFor="let plan of planTypes" [value]="plan">
              {{ plan }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button
          expand="block"
          type="submit"
          [disabled]="loading || registerForm.invalid"
          class="submit-btn">
          Registrarse
        </ion-button>

        <ion-text color="medium" *ngIf="loading">
          <p>Cargando...</p>
        </ion-text>

        <ion-text color="danger" *ngIf="errorMessage">
          <p>{{ errorMessage }}</p>
        </ion-text>

        <ion-text color="success" *ngIf="successMessage">
          <p>{{ successMessage }}</p>
        </ion-text>

      </ion-card-content>

    </ion-card>

  </form>

</ion-content>