<ion-modal [isOpen]="showModal">
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-title>Cambiar contraseña</ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">✖</ion-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>

    <ion-content class="modal-content">

      <form [formGroup]="form" (ngSubmit)="submit()" class="form">

        <ion-item>
          <ion-label position="stacked">Contraseña actual</ion-label>
          <ion-input type="password" formControlName="currentPassword"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nueva contraseña</ion-label>
          <ion-input type="password" formControlName="newPassword"></ion-input>
        </ion-item>

        <div class="buttons">

          <ion-button expand="block" type="submit" color="primary">
            Guardar
          </ion-button>

          <ion-button expand="block" fill="outline" color="medium" (click)="closeModal()">
            Cancelar
          </ion-button>

        </div>

        <p *ngIf="message" class="message">
          {{ message }}
        </p>

      </form>

    </ion-content>

  </ng-template>
</ion-modal>