<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="register()">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Crea tu cuenta</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <ion-label position="stacked">Nombre de Usuario</ion-label>
          <ion-input type="text" formControlName="nickname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Confirmación de Contraseña</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>

        <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

        <ion-button expand="full" type="submit" [disabled]="loading">
          {{ loading ? 'Cargando...' : 'Registrarse' }}
        </ion-button>

      </ion-card-content>
    </ion-card>

  </form>
</ion-content>