<div class="login-container">
    <h2>Admin Login</h2>
  
    <label>Nombre de usuario</label>
    <input [(ngModel)]="nickname" placeholder="Introduce tu usuario">
  
    <label>Contraseña</label>
    <input [(ngModel)]="password" type="password" placeholder="Introduce tu contraseña">
  
    <button (click)="login()">Iniciar Sesión</button>
  
    <p class="info">¿Aún no tienes cuenta en DAYPLAY?</p>
  
    <p class="register">
      ¿Y a qué estás esperando?
      <span (click)="goToRegister()">¡REGÍSTRATE YA!</span>
    </p>
  </div>