<div class="wrapper">
  <h2>Adivina el número secreto</h2>

  <input
    type="text"
    [value]="value"
    (input)="onInputChange($event)"
    inputmode="numeric"
    pattern="[0-9]*"
    [disabled]="gameOver"
    class="input"
  />

  <label class="label">{{ labelText }}</label>

  <numerickeyboard
    [disableActions]="value==='' || gameOver"
    (numberPressed)="addNumber($event)"
    (deletePressed)="deleteNumber()"
    (enterPressed)="confirm()"
  ></numerickeyboard>

  <p>Intentos restantes: {{ remainingAttempts }}</p>
</div>
