<div class="register-wrapper" *ngIf="registerForm">

  <div class="register-container">

    <h1>Registro</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <ion-input
        class="custom-input"
        placeholder="Nombre de Usuario"
        type="text"
        formControlName="nickname">
      </ion-input>

      <ion-text color="danger"
        *ngIf="registerForm.get('nickname')?.touched &&
               registerForm.get('nickname')?.invalid">

        <small>El usuario es obligatorio.</small>

      </ion-text>

      <ion-input
        class="custom-input"
        placeholder="Correo Electrónico"
        type="email"
        formControlName="email">
      </ion-input>

      <ion-text color="danger"
        *ngIf="registerForm.get('email')?.touched &&
               registerForm.get('email')?.invalid">

        <small>Email inválido.</small>

      </ion-text>

      <ion-input
        class="custom-input"
        placeholder="Contraseña"
        type="password"
        formControlName="password">
      </ion-input>

      <ion-text color="danger"
        *ngIf="registerForm.get('password')?.touched &&
               registerForm.get('password')?.invalid">

        <small>Contraseña inválida.</small>

      </ion-text>

      <ion-item lines="none" class="custom-select">

        <ion-label>Plan</ion-label>

        <ion-select formControlName="plan">

          <ion-select-option
            *ngFor="let plan of planTypes"
            [value]="plan">

            {{ plan }}

          </ion-select-option>

        </ion-select>

      </ion-item>

      <p class="success-message" *ngIf="successMessage">
        {{ successMessage }}
      </p>

      <p class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </p>

      <ion-button
        expand="block"
        class="register-button"
        type="submit"
        [disabled]="loading">

        {{ loading ? 'Cargando...' : 'Registrarse' }}

      </ion-button>

      <div class="redirect-link">
        <p>
          ¿Ya tienes cuenta?
          <span (click)="goToLogin()">Inicia sesión</span>
        </p>
      </div>

    </form>

  </div>

</div>