.container {
    max-width: 380px;
    margin: 80px auto;
    text-align: center;
}

input {
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
}

button {
    width: 100%;
    padding: 8px;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}