.container {
    max-width: 420px;
    margin: 80px auto;
    text-align: center;
  }
  
  .danger {
    color: darkred;
  }
  
  .checkbox {
    display: block;
    margin: 15px 0;
  }
  
  .delete {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  