<div class="card">
<button *ngIf="!authService.isPending()" class="story-btn" (click)="goToStory()">
    <img src="assets/libro.png"/>
</button>
<button *ngIf="!authService.isPending()" class="ranking-btn" (click)="goToRanking()">
    <img src="assets/ranking.png"/>
</button>
    <h2 class="card-title">{{ title }}</h2>
    <table class="styled-table">
        <tbody>
            <tr *ngFor="let row of grid">
                <td *ngFor="let game of row" class="cell" (click)="onCellClick(game)" (mouseenter)="onMouseEnter(game)" (mouseleave)="onMouseLeave()">
                    <div class="cell-content">{{ game?.url || '---' }}</div>
                    <div class="cell-overlay" *ngIf="hoveredGame === game">
                        <h4>{{ game?.name }}</h4>
                        <p>{{ game?.description }}</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>