.login-card {
    max-width: 380px;
    margin: 60px auto;
    text-align: center;
}

.info {
    margin-top: 20px;
    font-size: 14px;
}

.register {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}