<div class="login-wrapper">
  <div class="login-container">
    <h1>Inicio de Sesión</h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <ion-input class="custom-input" placeholder="Nombre de Usuario" type="text" formControlName="nickname"></ion-input>

      <small *ngIf="nickname?.touched && nickname?.invalid">
        El usuario es obligatorio
      </small>

      <ion-input class="custom-input" placeholder="Contraseña" type="password" formControlName="password"></ion-input>

      <small *ngIf="password?.touched && password?.invalid">
        La contraseña es obligatoria
      </small>

      <ion-item lines="none" class="remember-me">
        <ion-checkbox slot="start" (ionChange)="onCheckboxChange($event)"></ion-checkbox>
        <ion-label>Recuérdame</ion-label>
      </ion-item>

      <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

      <ion-button expand="block" class="login-button" type="submit" [disabled]="loading">
        {{ loading ? 'Cargando...' : 'Iniciar Sesión' }}
      </ion-button>

    </form>
    
    <div class="register-link">
      <p>
        ¿Aún no tienes cuenta?
        <span (click)="goToRegister()">Regístrate aquí</span>
      </p>
    </div>

  </div>
</div>