<header class="topbar">

  <div class="left">

    <img src="assets/logo.png" alt="LOGO DAYPLAY" class="logo">

  </div>

  <div class="center">
    <h1>BIENVENID@, {{ nickname$ | async }}</h1>
  </div>

  <div class="right">

    <div class="user-menu" (click)="toggleDropdown()">

      <ion-icon name="person-circle-outline" size="large"></ion-icon>

      <div class="dropdown" *ngIf="dropdownOpen">

        <a (click)="openChangePassword()">Cambiar Contraseña</a>

        <a (click)="logout()">Cerrar Sesión</a>

        <a (click)="openDeleteAccount()">Eliminar Cuenta</a>

      </div>

    </div>

  </div>

</header>