<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="submit()">

    <ion-item>
      <ion-label position="stacked">Contraseña Actual</ion-label>
      <ion-input type="password" formControlName="currentPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nueva Contraseña</ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid">
      Mínimo 6 caracteres
    </ion-text>

    <ion-text color="danger" *ngIf="form.errors?.['samePassword']">
      La nueva contraseña no puede ser igual a la actual
    </ion-text>

    <ion-button expand="full" type="submit" [disabled]="form.invalid || loading">

      <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      <span *ngIf="!loading">Guardar</span>

    </ion-button>

  </form>

  <ion-text color="danger" *ngIf="message">
    {{ message }}
  </ion-text>

</ion-content>