<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="submit()">

    <ion-item>
      <ion-label position="stacked">Contraseña Actual</ion-label>
      <ion-input type="password" formControlName="currentPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nueva Contraseña</ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Guardar</ion-button>

  </form>

  <ion-text color="danger" *ngIf="message">{{ message }}</ion-text>

</ion-content>