<div class="auth-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Inciio de Sesión</h2>

        <input type="text" placeholder="Nombre de Usuario" formControlName="nickname">

        <input type="password" placeholder="Contraseña" formControlName="password">

        <button type="submit" [disabled]="loading || loginForm.invalid">Entrar</button>

        <p *ngIf="loading">Cargando...</p>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
        
    </form>
</div>