.game-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: bold;
}

.center-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.egg {
    background: linear-gradient(135deg, #ffcc70, #ff8c42);
    border-radius: 50% / 35%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.large-egg {
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.egg-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.small-egg {
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.small-egg:hover {
    transform: scale(1.05);
}

.correct {
    background: #4CAF50 !important;
    color: white;
}

.wrong {
    background: #EE3935 !important;
    color: white;
}

.final-screen {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}