<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Contraseña actual</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nueva contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <div class="buttons">

    <ion-button>Guardar</ion-button>

    <ion-button>Cancelar</ion-button>

  </div>

</ion-content>