<div *ngIf="showModal" class="modal-overlay">
    <div class="modal-content">
        <h3>Cambiar Contraseña</h3>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <input formControlName="currentPassword" type="password" placeholder="Contraseña Actual">
            <input formControlName="newPassword" type="password" placeholder="Nueva Contraseña">
            <button type="submit">Guardar</button>
            <button type="button" (click)="closeModal()">Cancelar</button>
        </form>
        <div *ngIf="message">{{ message }}</div>
    </div>
</div>