<div
  class="hover-zone"
  *ngIf="!visible && !pinned"
  (mouseenter)="showSidebar()">
</div>

<aside
  class="sidebar"
  [class.open]="visible || pinned"
  (mouseleave)="hideSidebar()">

  <div class="pin">
    <button (click)="togglePinned()">
      <ion-icon
        [name]="pinned ? 'lock-closed-outline' : 'lock-open-outline'">
      </ion-icon>
    </button>
  </div>

  <nav class="menu">

    <ng-container *ngFor="let item of items">
      <a
        *ngIf="canView(item)"
        [routerLink]="item.route"
        routerLinkActive="active"
        class="item">

        {{ item.label }}
      </a>
    </ng-container>

  </nav>

</aside>