.keyboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 260px;
    margin: 20px auto;
  }
  
  .key-btn {
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    --border-radius: 12px;
    --box-shadow: none;
  }