<h2>AHORCADO</h2>
<img [src]="getImageByErrors()" [alt]="errorsCounter">
<label #secretWord></label>
<app-letters-keyboard [usedLetters]="usedLetters" [keyClasses]="keyClasses" [gameMode]="'hangman'" (letterPressed)="onLetter($event)"></app-letters-keyboard>
<div *ngIf="hangmanService.isGameOver() && hangmanService.isWin()">
    <p>¡Felicidades!</p>
    <p>Has ganado</p>
</div>
<div *ngIf="hangmanService.isGameOver() && !hangmanService.isWin()">
    <p>¡Ohhhh, has perdido!</p>
    <p>La palabra era {{ hangmanService.getMaskedWord() }}</p>
</div>