ion-toolbar {
    --background: #f5f5f5;
  }
  
  .logo img {
    height: 32px;
  }
  
  .welcome {
    font-size: 14px;
    margin-left: 10px;
    color: #333;
  }
  
  ion-button {
    font-size: 22px;
  }