<ion-content class="game-content">

  <div class="streak-intro" *ngIf="showIntroStreak">
    <img src="https://cdn-icons-png.flaticon.com/512/742/742751.png">
    <span>{{ currentStreak }}</span>
  </div>

  <div class="center-area">
    <div class="egg large-egg">
      {{ currentOperation?.operation }}
    </div>

    <div class="egg-grid">
      <div class="egg small-egg"
        *ngFor="let option of options"
        (click)="selectAnswer(option)">
        {{ option }}
      </div>
    </div>
  </div>

  <div class="streak-container" *ngIf="!showIntroStreak">
    <img src="https://cdn-icons-png.flaticon.com/512/742/742751.png">
    <span>{{ currentStreak }}</span>
  </div>

</ion-content>